/* START Hide Uptime from main page */
.availability-time-line-graphic {display:none;}
.legend-item.light.legend-item-date-range {display: none;}
.legend-item.legend-item-uptime-value {display:none;}
.spacer {display: none;}
/* END Hide Uptime from main page */